<md-toolbar md-whiteframe="3">
    <div class="md-toolbar-tools">
        <h2>
            <span>Media Inventory</span>
        </h2>

        <md-menu>
            <md-button ng-click="$mdOpenMenu($event)">
                Artist
            </md-button>
            <md-menu-content width="6">
                <md-menu-item>
                    <md-button href="{{ROUTES.ARTIST.LIST}}">
                        Artist List
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button href="{{ROUTES.ARTIST.NEW}}">
                        Artist New
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-menu>
            <md-button ng-click="$mdOpenMenu($event)">
                Media
            </md-button>
            <md-menu-content width="6">
                <md-menu-item>
                    <md-button href="{{ROUTES.MEDIA.AUDIO.LIST}}">
                        Audio List
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button href="{{ROUTES.MEDIA.AUDIO.NEW}}">
                        Audio New
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-menu>
            <md-button ng-click="$mdOpenMenu($event)">
                Venue
            </md-button>
            <md-menu-content width="6">
                <md-menu-item>
                    <md-button href="{{ROUTES.VENUE.LIST}}">
                        Venue List
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button href="{{ROUTES.VENUE.NEW}}">
                        Venue New
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-menu>
            <md-button ng-click="$mdOpenMenu($event)">
                Concert
            </md-button>
            <md-menu-content width="6">
                <md-menu-item>
                    <md-button href="{{ROUTES.CONCERT.LIST}}">
                        Concert List
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button href="{{ROUTES.CONCERT.NEW}}">
                        Concert New
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <div flex></div>
    </div>
</md-toolbar>

<div class=" md-padding">
    <section class="md-whiteframe-z3">
        <div ng-view></div>
    </section>
</div>