<md-toolbar class=" md-primary">
    <div class="md-toolbar-tools">
        <h3 class="ng-binding">Artist Edit</h3>
    </div>
</md-toolbar>
<div class="md-padding">
    <md-input-container class="md-block">
        <label>Artist</label>
        <input type="text" ng-model="vm.artist.Name" required minlength="2" md-maxlength="65">
    </md-input-container>
    <div>
        <md-button class="md-raised md-primary" ng-click="vm.save()"><i class="fa fa-floppy-o"></i> Save</md-button>
        <md-button ng-click="vm.saveAddNew()">Save & Add New</md-button>
    </div>
</div>