<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="mediaInventory" type="SimpleConfig.Section, SimpleConfig" />
  </configSections>
  <mediaInventory>
    <application>
      <build version="0.0.0.0" date="10/21/1985" deployTarget="Dev" />
    </application>
    <data>
      <mediaInventory connectionString="server=sql.dev.reachmail.net;database=MediaInventory;Integrated Security=SSPI;" />
    </data>
    <web errorPage="" sessionTimeout="120">
      <ui domainName="mediainventory.dev.briankothe.com">
        <urls root="http://{0}/" />
      </ui>
    </web>
  </mediaInventory>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.6" />
    <authentication mode="None" />
    <customErrors mode="Off">
      <error statusCode="404" redirect="404.html" />
    </customErrors>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="AngularJs" stopProcessing="true">
          <match url="^app/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/app/index.html" />
        </rule>
        <rule name="RootRedirect" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/app" />
        </rule>
      </rules>
    </rewrite>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spark" publicKeyToken="7f8549eed921a12c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>