<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
    <section name="mediaInventory" type="SimpleConfig.Section, SimpleConfig" />
  </configSections>
  <mediaInventory>
    <application>
      <build version="0.0.0.0" date="10/21/1985" deployTarget="Dev" />
    </application>
    <data>
      <mediaInventory connectionString="server=sql.dev.reachmail.net;database=MediaInventory;Integrated Security=SSPI;" />
    </data>
    <web errorPage="" sessionTimeout="120">
      <ui domainName="mediainventory.dev.briankothe.com">
        <urls root="http://{0}/" />
      </ui>
    </web>
  </mediaInventory>
  <system.web>
    <compilation debug="true" targetFramework="4.6">
    </compilation>
    <httpRuntime targetFramework="4.6" />
    <authentication mode="None" />
    <customErrors mode="Off">
      <error statusCode="404" redirect="404.html" />
    </customErrors>
  </system.web>
<system.webServer>
  <rewrite>
    <rules>
      <rule name="AngularJs" stopProcessing="true">
        <match url="^.*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
        </conditions>
        <action type="Rewrite" url="/index.html" />
      </rule>
      <rule name="RootRedirect" stopProcessing="true">
        <match url="^$" />
        <action type="Rewrite" url="/index.html" />
      </rule>
    </rules>
  </rewrite>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">

      <!-- To prevent static content from being run thru ASP.NET, we want to set runAllManagedModulesForAllRequests="false"
			   However, UrlRoutingModel will stop working, unless you patch IIS to support extensionless routing (introduced in .NET 4)
			   Download the patch at http://support.microsoft.com/kb/980368  -->
      <remove name="UrlRoutingModule" />
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="managedHandler" />

    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spark" publicKeyToken="7f8549eed921a12c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>